.loading {
  font-size: 220px;
  text-align: center;
  color: yellow;
}

.error {
  font-size: 220px;
  color: red;
  text-align: center;
}

.title {
  width: 100%;
  height: 75px;
  background-color: rgba(0, 0, 0, 0.75);
  color: yellow;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title h1 {
  margin: 0;
  padding: 0;
}

.list {
  margin-right: 20%;
  margin-left: 20%;
}

.nav-btn button {
  width: 75px;
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.nav-btn button:hover {
  background-color: gray;
  border: 1px solid yellow;
}

.nav-btn {
  display: flex;
  justify: center;
  align-items: center;
  gap: 10px;
  margin-left: 45%;
  margin-bottom: 20px;
}
